body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffe0f0; /* Soft pink background */
    color: #4a4a4a;
    position: relative;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 25px 0;
}


header {
    background: linear-gradient(to right, #a7e9af, #84d489);
    color: #fff;
    padding-top: 20px; /* Ajuste o padding superior */
    padding-bottom: 20px; /* Ajuste o padding inferior */
    min-height: 180px; /* Altura mínima para acomodar a logo e o texto */
    border-bottom: #6bbb70 5px solid;
    text-align: center;
    position: relative;
    overflow: hidden;
}
